 /* База */
body {
    background-color: #f4f6f9;
    font-family: 'Open Sans', sans-serif;
    color: #333;
}

/* Шапка */
.bg-primary, .visa-header {
    background-color: #3242AA !important;
}

/* Кнопки как просил препод */
.btn-primary, .btn-custom, .btn-success, #add-visa-btn {
    background-color: #B32228 !important; /* Алый */
    border-radius: 8px !important;
    border: none !important;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1) !important;
}

/* Карточки виз */
.card {
    border-radius: 15px !important;
    overflow: hidden;
    border: none !important;
}

.card-title {
    color: #3242AA; /* Заголовки в цвет бренда */
    font-weight: 700;
}

/* Второстепенные кнопки (Сложность/Условия) */
.btn-outline-info, .btn-outline-success, .btn-outline-secondary {
    border-radius: 8px !important;
    border: 1px solid #dee2e6 !important;
    color: #555 !important;
}

.btn-outline-info:hover, .btn-outline-success:hover{
    background-color: #f8f9fa !important;
}

.btn-back {
    padding: 10px 20px;
    background-color: #B32228;
    color: white;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    font-weight: 600;
    font-size: 16px;
    transition: all 0.2s ease;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}
